<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteRule \.(git|svn)(/.*)?$ - [F,NC]
</IfModule>
<Files composer.json>
    Order allow,deny
    Deny from all
</Files>
<Files composer.lock>
    Order allow,deny
    Deny from all
</Files>
<Files artisan>
    Order allow,deny
    Deny from all
</Files>
<Files README.md>
    Order allow,deny
    Deny from all
</Files>
<FilesMatch "\.(ini|psd|log|sh|md)$">
    Order allow,deny
    Deny from all
</FilesMatch>
# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
Options -Indexes
Options +FollowSymLinks
<Files "apple-app-site-association">
ForceType 'application/json'
</Files>